* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
header {
    background: #000;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.5);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 10px;
}
header .container .logo {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
}
header .container .login{
    font-size: 22px;
    text-transform: capitalize;
    background: crimson;
    padding: 5px 10px;
    border-radius: 5px;
}
section h1 {
    margin: 10px auto;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    background: cadetblue;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}
.allproducts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px , 1fr));
    gap: 10px;
    margin-bottom: 20px;
}
.product {
    background: darkcyan;
    padding: 5px;
    border-radius: 5px;
}
.product .product-img img {
    width: 100%;
}
.product .product-info {
    padding: 3px 5px; 
}
.product-info h3 {
    text-transform: capitalize;
    text-align: center;
    color: linen;
}
.product-info > p {
    font-size: 15px;
    margin: 5px 0px;
    color: honeydew;
    letter-spacing: 1px;
    text-align: center;
}
.product-info .prcount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}
.product-info .prcount p {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.product-info .prcount p span {
    background: brown;
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
}
.product-info .totalprice {
    background: aliceblue;
    padding: 8px;
    text-align: center;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: bold;
}
.product-info .totalprice span {
    color: firebrick;
}